@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic, 700italic);

body {
    max-width: 720px;
    background: #eee;
    margin: 2em auto;
    font-family: 'Open Sans', sans-serfi;
}

main {
    background: white;
    min-height: 500px;
    padding: 4em;
}

div.row > * {
    
    display: inline-block;
    width: 23%;
    margin-top: 0;
    
    margin-bottom: 0;
}

.topRow > * {
    
    display: inline-block;
    text-align: center;

    width: 25%;
    margin: 0;
    padding: 0;
     
}

.row > button {
    width: 6%;  
    
}

div.row {
    position: relative;
}

ol.completions {
    border: 1px solid #990;
}

ol.completions:empty {
    border: none;
}

ol.completions :nth-child(2n + 1) {
    background: #e0e0e0;
}

ol.completions {
    z-index: 1;
    width: 23.7%;
    padding: 0;
    margin: 0;
    background: white;
    list-style: none;
    position: absolute;
    top: 22px;
    left: 0;
}

hr {
    margin: 3em 1em;
}

ul.instructions li {
    margin: 1em 0;
}

div.row > *:nth-child(n + 3) {
    text-align: right;
}

button {
    margin-top: 1em;
    width: 20%;
}

input {
    width: 18%;
    padding: 0.4em;
}